target/
**/*.rs.bk
Cargo.lock
.anchor
dist/
node_modules/
target/idl/
target/types/
test-ledger/
.config/
.DS_Store
.vscode/
.idea/
*.log
logs/
.env*
build/
out/
yarn.lock
package-lock.json
tmp/
temp/